# React (TicketBrite)
node_modules/
build/
.env
.DS_Store
package-lock.json
yarn-error.log

# ASP.NET Core (TicketBriteAPI)
bin/
obj/
*.db
*.db-journal
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
