:root {
  --font: "Bebas Neue", sans-serif;
  --bg: #EDEAEA;
}

html,
body {
  background-color: var(--bg);
  height: auto;
  min-height: 100%;
}

#root {
  height: 100%;
}

.bg {
  background-color: var(--bg) !important;
}

.font {
  font-family: var(--font);
}