.header {
    background-image: url('https://studentensportvlaanderen.be/assets/components/phpthumbof/cache/980_atletiek_shutterstock_303117407.143de5d066a507c31716d16947082fb9.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.header .overlay {
    background: rgba(0, 0, 0, .5);
}

.overlayInfo {
    color: white;
    font-family: var(--font);
}

.filterContainer {}

.eventList {
    background: var(--bg);
}

.eventList h1 {
    font-family: var(--font);
    position: relative;
}

.eventList h1::after {
    content: '';
    width: 40px;
    height: 3px;
    border-bottom: 3px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
}