# Node.js dependencies (kunnen opnieuw geïnstalleerd worden)
node_modules

# Build output (wordt opnieuw gegenereerd)
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specifieke bestanden
.DS_Store
Thumbs.db

# Git metadata
.git
.gitignore
